/*
* Skeleton V1.9.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

@font-face {
   font-family: FHOscar;
   src: url("../type/FHOscar-Medium.otf") format("opentype");
   font-weight: 400;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Components
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
  --animate-delay: 0.5s;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about-images {
  transform: scale(0.8);
  width: 100%;
}

.about-board {
  transform: scale(0.7);
  width: 100%;
}

.about-board2 {
  transform: scale(1);
  width: 100%;
}

footer {
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  margin-bottom: 16px;
}

.footer-casestudy {
  flex-direction: row;
  justify-content: center;
  gap: 0;
  height: 10vh;
}

.social-links {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}

.footer-left {
  width: 100%;
  display: flex;
  text-align: left;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.footer-right {
  width: 100%;
  display: flex;
  text-align: left;
  justify-content: flex-end;
}

header {
  height: auto;
  max-width: 950px;
  width: 100%;
  margin-top: 64px;
  margin-bottom: 72px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.header-case {
  height: auto;
  width: 100%;
  max-width: 1440px;
  margin-top: 60px;
  margin-bottom: 48px;
}

.header-left {
  min-width: 0;
  max-width: 960px;
  padding-right: 0px;
}

.header-right {
  margin-top: 40px;
  flex-shrink: 4;
}


.about-image {
  margin-top: 28px;
  width: 96px;
  margin-right: 36px;
}

.header-content {
  margin-top: 196px !important;
}

/** Portfolio Card **/
.pcard-wrap {
  margin-bottom: 144px;
  z-index: -1000;
}

.pcard-image {
  border-radius: 1px;
  margin-bottom: 24px;
  transition: all 500ms;
}

.pcard-imagewrap {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 250px;
  vertical-align: middle;
  margin-bottom: 24px;
}

.pcard-content {
  transition: all 200ms;
  width: 100% !important;
  height: 100%;
}

a .pcard-title {
  margin-left: 4px;
  color: #3E3A35;
  text-decoration: none !important;
  margin-top: 8px;
}

.pcard-wrap:hover a .pcard-title {
  color: #3E3A35;
}

a .pcard-link {
  margin-left: 4px;
  color: 616161;
  text-decoration: none !important;
}

.pcard-wrap a {
  text-decoration: none !important;
}

.pcard-wrap:hover a .pcard-link {
  color: #3E3A35;
  text-decoration: none !important;
}

.pcard-wrap:hover a .pcard-image {
   transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.two-list {
  display: flex;
  justify-content: left;
  width: 100%;
}

.two-list-label {
  width: 80px;
  padding-right: 56px;
}

.two-list-content {
  text-decoration: none;
}

.two-list-list {
  margin-bottom: 0px;
}

.two-list-items {
  max-width: 1000px;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
  justify-content: left;
  align-items: center;
}

.two-list-items-autowidth {
  width: auto;
}

.two-list-items a {
  color: 616161;
}

.two-list-icon {
  display: inline-flex;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  margin-left: 5px;
  opacity: 0;
  transition: ease-out 0.1s;
}

.icon-right {
  margin-right: 5px;
  margin-left: -20px;
}

.pcard-wrap:hover .two-list-icon {
  opacity: 1;
}

.two-list-items:hover a {
  color: #444444;
}

.hide-small-block {
  display: none !important;
}

.hide-all-block {
  display: none !important;
}

.hide-small-inline {
  display: none !important;
}

.hide-big-block {
  display: block !important;
}

.hide-big-inline {
  display: inline !important;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.space-none {
  margin-bottom: 0px;
}

.space-xxs {
  margin-bottom: 12px;
}

.space-xs {
  margin-bottom: 24px;
}

.space-s {
  margin-bottom: 36px;
}

.space-m {
  margin-bottom: 54px;
}

.space-l {
  margin-bottom: 96px;
}

.space-xl {
  margin-bottom: 128px;
}

.space-xxl {
  margin-bottom: 196px;
}


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container-full {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  box-sizing: border-box; }

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 100%;
    padding: 0 20px; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 96%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }
}

.section-black {
  width: 90%;
  padding: 60px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #CDC8BE;
  background-color: #171717;
  width: calc(100% - 32);
}

.about {
  padding-top: 16px !important;
}

.section-left {
  justify-content: flex-start;
  align-items: flex-start !important;
  text-align: left !important;
}

.section-green {
  width: 80%;
  padding: 60px 10%;
  padding-bottom: 72px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3D8969;
  color: white;
}

.section-blue {
  width: 80%;
  padding: 60px 10%;
  padding-bottom: 72px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #76BFF4;
  color: white;
}

.section-dark {
  width: 80%;
  padding: 60px 10%;
  padding-bottom: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #191919;
  color: white;
}

.section-white {
  width: 90%;
  padding: 72px 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: #2E2E2E;
  background-color: white;
}

.main {
  width: calc(100% - 32);
  padding: 16px 16px;
  background-color: white;
}

.about-page {
  margin-top: -110px;
}


.main-study {
  width: calc(100% - 32);
  padding: 0 20px;
}

.content-wrap {
 width: 100%;
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
 flex-direction: column;
}

.content-area {
  max-width: 100%;
}

.content-label {
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 40px;
}

.image-grid-two {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.image-grid-about {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-right: 0;
}

.two-grid-item {
  width: 100%;
  margin-top: 16px;
}

.content-center {
  display: flex;
  justify-content: center;
  max-width: 750px;
  margin: 0 auto;
}

.content-center-image {
  width: 100%;
  max-width: 100000px;
  margin: 0 auto;
}

.content-right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 0px;
}

.content-right-area {
  width: 100%;
  max-width: 800px;
}

.content-ch-large {
  max-width: 725px;
}

.content-ch-small {
  max-width: 625px;
}

.center-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0vh;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
@keyframes mymove {
  from {background-color: black;}
  to {background-color: white;}
}

html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-family: 'FHOscar', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, serif;
  font-feature-settings: "calt";
  color: #444444;
  background-color: #F3EFE6;
}

.black-body {
 background-color: #171717;
}

/*
::-moz-selection {
  color: #ffffff;
  background: #424242;
}

::selection {
  color: #ffffff;
  background: #424242;
}**/

/* Code for Firefox */

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #383733;}
h1 { font-size: 4.2rem; line-height: 1.15;  letter-spacing: -0.2rem; font-weight: 500; font-family: 'Lora', serif;}
h2 { font-size: 2.8rem; line-height: 1.3;  letter-spacing: -0.1rem; font-weight: 500; font-family: 'Lora', serif;}
h3 { font-size: 2.8rem; line-height: 1.2;  letter-spacing: .04rem;   font-weight: 400; font-family: 'FHOscar', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, serif;}
h4 { font-size: 1.9rem; line-height: 1.5; letter-spacing: -.05rem;   font-weight: 400;}
h5 { font-size: 1.9rem; line-height: 1.5;  letter-spacing: -.02rem;   font-weight: 400;}
h6 { font-size: 1.4rem; line-height: 1.5;  letter-spacing: 0;   font-weight: 400;}
p, p li {font-size: 2.0rem; line-height: 1.55; letter-spacing: 0.04rem; font-weight: 400; margin-block-start: 0.1em; margin-block-end: 0.4em;}
li {font-size: 2.0rem; line-height: 1.55; letter-spacing: 0.04rem; font-weight: 400;}
.header-support { font-size: 2.0rem; line-height: 1.4;  letter-spacing: 0rem; font-weight: 400;}
.nav-item { font-size: 2.0rem; line-height: 1.5;  letter-spacing: 0.04rem; font-weight: 400;}
.h1-serif { font-size: 5.6rem; line-height: 0;  letter-spacing: -.4rem; font-weight: 400;}
.label { font-size: 2.0rem;  font-weight: 400; letter-spacing: 0.04rem;}
.p-title { font-size: 2.0rem; line-height: 1.0;  letter-spacing: -0.06rem; font-weight: 600; font-family: 'IBM Plex Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, serif;}
.p-large {font-size: 3.2rem; line-height: 1.3; letter-spacing: 0.05rem; font-weight: 400; font-family: 'FHOscar', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, serif;}

blockquote {
  width: auto;
  border-radius: 4px;
  padding: 16px 24px;
  font-size: 3.2rem; letter-spacing: 0rem; font-weight: 400; line-height: 1.2;
 font-weight: 400; font-family: 'FHOscar', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, serif;
}

p:first-child {
  margin-top: 0px;
}

@media (min-width: 750px) {
  h1 { font-size: 6.0rem; line-height: 1.1;  letter-spacing: -0.3rem; }
  h2 { font-size: 4.4rem; line-height: 1.05;  letter-spacing: -0.25rem; font-weight: 500;}
  h3 { font-size: 3.6rem; line-height: 1.2;  letter-spacing: 0.06rem;   font-weight: 400;}
  h4 { font-size: 1.9rem; line-height: 1.5; letter-spacing: -.05rem;   font-weight: 400;}
  h5 { font-size: 1.9rem; line-height: 1.5;  letter-spacing: -.02rem;   font-weight: 400;}
  h6 { font-size: 1.4rem; line-height: 1.5;  letter-spacing: 0;   font-weight: 400;}
  p, p li {font-size: 2.2rem; line-height: 1.55; letter-spacing: 0.04rem; font-weight: 400;}
  li {font-size: 2.2rem; line-height: 1.55; letter-spacing: 0.04rem; font-weight: 400;}
  .header-support { font-size: 2.4rem; line-height: 1.4;  letter-spacing: .05rem; font-weight: 400;}
  .nav-item { font-size: 2.2rem; line-height: 1.55;  letter-spacing: 0.04rem; font-weight: 400;}
  .h1-serif { font-size: 8.2rem; line-height: 0;  letter-spacing: -.45rem; font-weight: 400;}
  .label { font-size: 2.2rem;  font-weight: 400; letter-spacing: 0.04rem;}
  .p-title { font-size: 2.2rem; line-height: 1.0;  letter-spacing: -0.04rem; font-weight: 400;}
  .p-large {font-size: 3.4rem; line-height: 1.3; letter-spacing: 0.06rem; font-weight: 400;}

  blockquote {
    width: auto;
    border-radius: 4px;
    padding: 16px 24px;
    font-size: 3.2rem; letter-spacing: 0em; font-weight: 400; line-height: 1.2;}

    .remove-bottom-margin {
      margin-bottom: 4px;
    }
  }

.color-grey {
  color: #616161;
}

.color-black {
  color: #3E3A35 !important;
}

.color-lightgrey {
  color: white !important;
  opacity: 0.8;
}

a .color-lightgrey:hover {
  color: white;
}

.color-biege {
  color: #BAB6AD;
}

.color-biege:hover {
  color: #BAB6AD;
}

.color-white {
  color: #EFE9DD !important;
}

.bold {
  font-weight: 600;
}

.center {
 max-width: 720px;
 margin: 0 auto;
 margin-bottom: 80px;
 margin-top: -40px;
}

.remove-bottom-margin {
  margin-bottom: 8px;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #616161;
  text-decoration: none;
  transition: all 0.06s;
}

a:hover {
  color: #383733;
  text-decoration: underline;
}

.inline-link, p a {
  font-weight: inherit;
  color: #616161;
  text-decoration: underline;
}

.inline-link:hover, p a:hover {
  font-weight: inherit;
  color: #383733;
  text-decoration: none;
}

/** Nav **/
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav-name {
  width: 50%;
}

.nav-about {
  width: 50%;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.nav-icon {
  width: 100%;
  display: flex;
  justify-content: center;
}

.floating-button {
  width: 48px;
  height: 48px;
  border-radius: 200px;
  background-color: #E2E2E2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.fb-purple {
  background-color:  #805AEC ;
}

.floating-button-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 1;
  transition: all 0.15s;
}

.floating-button-icon-switch {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0;
  transition: all 0.15s;
}

.floating-button:hover .floating-button-icon-switch {
  opacity: 1;
}

.floating-button:hover .floating-button-icon {
  opacity: 0;
}

.floating-button:hover{
  background-color: #805AEC;
}

/** Text Button **/
.text-button {
  text-decoration: none;
  color: #2C76E6;
  margin-left: -4px;
  padding: 4px 4px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #F1F1F1;
}

.text-button:hover {
  box-shadow: inset 10000px 0 0 0 #F1F1F1;
  color: #2C76E6;
}

.text-button:active {
  padding: 3px 3px;
  border: solid 1px #7FA9EA;
  box-shadow: inset 10000px 0 0 0 #F1F1F1;
  color: #2C76E6;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  }

  .button:disabled,
  button:disabled,
  input[type="submit"]:disabled,
  input[type="reset"]:disabled,
  input[type="button"]:disabled,
  .button:disabled,
  button:disabled,
  input[type="submit"]:disabled,
  input[type="reset"]:disabled,
  input[type="button"]:focus {}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  margin-left: 4px;
  padding-left: 20px;
  font-weight: 400;
  letter-spacing: -.02rem;
  margin-top: 0;
  line-height: 1.7;}

li {
  margin-bottom: 0.6rem;
}

::marker {
  list-style-type: "•";
  color: #616161;
}

/* Stylized list */
.ul-no-style {
  list-style: none;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
ul,
ol,
form {
  margin-left: 0;
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 575px) {
  .hide-all-block {
    display: hide !important;
  }

  .hide-small-block {
    display: block !important;
  }

  .hide-small-inline {
    display: inline !important;
  }

  .hide-big-block {
    display: none !important;
  }

  .hide-big-inline {
    display: none !important;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {

  .section-left {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 80% !important;
    padding: 96px 10% !important;
  }

  .section-black {
    width: 90%;
    padding: 96px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #BAB6AD;
    background-color: #171717;
    width: calc(100% - 32);
  }

  .section-green {
    width: 70%;
    padding: 96px 15%;
    padding-bottom: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3D8969;
    color: white;
  }

  .section-blue {
    width: 70%;
    padding: 96px 15%;
    padding-bottom: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #76BFF4;
    color: white;
  }

  .section-white {
    width: calc(100% - 112px);
    padding: 96px 56px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #2E2E2E;
    background-color: white;
    width: calc(100% - 32);
  }

  .about {
    padding-top: 40px !important;
  }

  .main {
    width: calc(100% - 112px);
    padding: 40px 56px;
    background-color: white;
  }

  .about-images {
    transform: scale(1);
    width: 100%;
  }

  header {
    height: auto;
    width: 80%;
    margin-top: 96px;
    margin-bottom: 112px;
  }

  .header-case {
    margin: 0 auto;
    width: 70%;
    height: auto;
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .content-wrap {
   width: 80%;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   padding-left: 20%;
   flex-direction: row;
  }

  .content-area {
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .content-label {
    max-width: 175px;
    padding-left: 40px;
    padding-right: 20px;
  }

  .two-grid-item {
    width: 50%;
    margin-top: 8px;
  }

  .two-grid-item:first-child {
    margin-right: 16px;
  }

  .content-center {
    width: 100%;
  }

  .content-center-image {
    width: 95%;
  }

  .content-right {
    display: flex;
    justify-content: right;
    margin-right: 120px;
  }

  .image-grid-two {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: calc(100% - 16px);
  }

  .content-right-area {
    width: 50%;
    max-width: 800px;
  }

  .nav-name {
    width: 50%;
  }

  .nav-about {
    gap: 16px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .center-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vh;
  }

  .about-page {
    margin-top: 16px;
  }

  .pcard-imagewrap {
    height: 800px;
  }

  footer {
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    flex-direction: row;
    gap: 0px;
    margin-bottom: 16px;
  }

  .footer-casestudy {
    justify-content: center;
    gap: 24px;
    height: 10vh
  }

  .footer-left {
    width: 70%;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
  }

  .footer-right {
    width: 30%;
    display: flex;
    text-align: left;
    justify-content: flex-end;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
